/**----- Réglages de base du document -----**/

*{
    margin: 0px;
}

body{
    background-color: #1F2039;
}

/**----- Les sections -----**/

.navBar{
    background-color: white;
    padding-left: 3em;
    padding-top: 1.5em;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    padding-right: 4em;
    padding-bottom: 2em;
}
.photonav{
    width: 3em;
    margin-right: 1em;
}
.logo{
    width: 10em;
}

main{
    padding: 5em;
}

.histoire{
    padding: 2em;

}

footer{
    background-color: white;
}

.imgLink{
    margin-left: 3em;
    padding-top: 2em;
}
.imgLinkFooter{
    display: flex;
    justify-content: end;
    padding-right: 4em;
    gap: 2em;
}

.socialIcon{
    width: 4em;
}
/**----- Titre - Paragraphes - Listes - em -----**/ 

h1{
    font-family: Goldman, sans-serif;
    color: #820707;
    font-size: 3em;
}

h2{
    font-family: Goldman, sans-serif;
    color: #820707;
    font-size: 3em;
    margin-top: 2em;
    margin-bottom: 1em;
}

p{
    font-family: Manrope, sans-serif;
    font-size: 1.1em;
    color: #F9F8FF;
    padding-top: 1.5em;
    padding-bottom: 1em;
}

li{
    font-family: Manrope, sans-serif;
    font-size: 1em;
}

.competences{
    border : 1px #8e86b5 solid ;
    color : white;
}


em{
    color: #474f77;
}

/**----- Liens -----**/

a{
    text-decoration: none;
    font-size: 1em;
    font-family: Manrope, sans-serif;
    color : #696484;
}

a:hover{
    color: #8788BA;
}

.externalLink{
    color : #8E86B5;
    text-transform: uppercase;
    border : 1px black solid;
    border-radius: 2em;
    text-align: center;
    display: block;
    width: 25em;
}
.externalLink:hover{
    color:#8788BA;
}

.imgLink:hover{
    opacity: 0.5;
}


/**----- Section bio Iron Man -----**/

.illustration{
    width: 20em;
    border-radius: 1.5em;
}

.sectionIron{
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

.IronTxt{
    width: 40%;
}



/**----- Images Galleries ------**/

.imgGallery{
    width: 20em;
} 

.sectionGallery{
text-align: center;
}

/**----- Gallerie des photos portraits et paysages -----**/

.paysage{
    width: 25em;
    height: 15em;
}

h1{
    text-align: center;
}

.photoPaysage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    position: relative;
}


.photoPortrait{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.portrait{
    width: 25em;
    height: 35em;
}

.portrait:hover{
    background-color: black;
    width: 25em;
    height: 35em;
}
.image-paysage:hover{
    background-color: black;
    opacity: 0.2;
    width: 25em;
    height: 15em;
}
.image-paysage{
    display: inline-block;
}