a{
    color:black;
}

em{
    color: #474f77;
}

h1{
    font-family: Goldman, sans-serif;
    color: #820707;
}

p{
    font-family: Manrope, sans-serif;
    font-size: 1.1em;
    color: #F9F8FF;
}

li{
    font-family: Manrope, sans-serif;
    font-size: 1em;
}

a{
    text-decoration: none;
    font-size: 1em;
    font-family: Manrope, sans-serif;
    color : #696484;

}
a:hover{
    color: #8788BA;
}

.navBar, .footer{
    background-color: white;
}

body{
    background-color: #1F2039;
}

.externalLink{
    color : #8E86B5;
    text-transform: uppercase;
    border : 1px black solid;
    border-radius: 2em;
    text-align: center;
}
.externalLink:hover{
    color:#8788BA;
}

.competences{
    border : 1px #8e86b5 solid ;
    color : white;
}


.imgLink:hover{
    opacity: 0.5;
}